<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new Post</title>
</head>
<body>
    <form method="post" action="/posts">
        <input placeholder="Enter username" name="username"><br><br>  <!--as name you put those name which is define in array in backend-->
        <textarea placeholder="Add your post" name="content" rows="10" cols="30"></textarea><br>
        <button>Submit Post</button>
    </form>
</body>
</html>